## SugarCRM
# Ignore custom .htaccess stuff.
# /.htaccess
#custom/history/*
#custom/modulebuilder/*
#custom/working/*
#custom/modules/*/Ext/
#custom/application/Ext/*
# Custom configuration should also be ignored.
#/config.php
#/config.inc.php
# The silent upgrade scripts aren't needed.
#silentUpgrade*.php
# Logs files can safely be ignored.
#*.log
#import.sh

.svn
nohup.out
.gitignore.swp
# all cached templates
*.tpl.php
# cache folders
/cache/images/*
!/cache/images/index.html
/cache/import/*
!/cache/import/index.html
/cache/upload/*
!/cache/upload/index.html
/Smarty/cache/*
!Smarty/cache/index.html
/tools/*
# The config 
#/config.inc.php
# Eclipse / Aptana
.project
#
